@import "variables.scss";
@import "components/page-header.scss";
@import "components/information.scss";
@import "components/features.scss";
@import "components/reviews.scss";
@import "components/slider-controls.scss";
@import "components/prices.scss";
@import "components/footer-contacts.scss";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: $color-white;
  color: $color-black;
}

.clearfix:after {
  content: "";
  clear: both;
}

.container {
  display: inline-block;
  width: $container-width;
}




