$container-width: calc(100% - 40px);

$color-black: #000;
$color-white: #fff;
$color-purple: #d12755;
$color-gray: #f2f2f2;
$color-darkblue: #283645;
$header-color-darkblue: #1d2631;
$slider-controls-color-darkgray: #b5b9be;
$feature-checked-color-green: #3dc643;
$feature-unchecked-color-red: #f25b26;

$font: OpenSans, Helvetica, Arial, sans-serif;

$breakpoint-phone: 480px;