.footer-contacts {
	position: relative;
	padding-top: 45px;
	&__title {
		@include block-title($font);
		color: $color-darkblue;
		&--1 {
			margin-bottom: 7px;
		}
		&--2 {
			margin-bottom: 40px;
		}
	}
	&__paragraph {
		margin: 0;
		margin-bottom: 10px;
		font: 700 18px/18px $font;
		color: $color-darkblue;
	}
	&__information {
		margin: 0;
		margin-bottom: 30px;
		font: 300 24px/36px $font;
		color: $color-purple;
	}
	.map-wrapper {
		position: relative;
		width: 100%;
		height: 200px;
		background-image: url("../img/bg-map.jpg");
		background-repeat: no-repeat;
		background-position: bottom center;
		background-size: 100% auto;
		overflow: hidden;
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -18px;
			margin-left: -18px;
			width: 16px;
			height: 16px;
			background-color: $color-purple;
			border: 10px solid $color-white;
			border-radius: 50%;
		}
	}
	@media (max-width: $breakpoint-phone) {
		&:after {
			content: "";
			position: absolute;
			bottom: 152px;
			left: 50%;
			margin-left: -240px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 48px 240px 0 240px;
			border-color: $color-white transparent transparent transparent;
		}
	}
}