.page-header {
  color: $color-white;
  background-color: $header-color-darkblue;
  .page-header__top-menu {
    position: relative; //кнопка переключения - абс.поз.
    padding: 24px 0 16px 0;
    background-color: rgba(0, 0, 0, 0.3);
    &--active {
      background-color: $color-darkblue;
      box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
    }
  }
  .page-header__content {
    padding: 24px 0;
    height: 330px;
  }
}
.logo {
  float: left;
  text-transform: uppercase;
  font: 300 32px/24px $font;
  letter-spacing: 1.4px;
}
.menu-toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
  float: right;
  width: 50px;
  height: 24px;
  border: none;
  outline: none;
  border-radius: 0;
  font-size: 0;
  background-color: transparent;
  background-image: 
    linear-gradient(
      to bottom, 
      #fff, #fff 4px, 
      transparent 4px, transparent 9px,
      #fff 10px, #fff 14px,
      transparent 14px, transparent 20px,
      #fff 20px, #fff 24px
    );
  &:hover {
    opacity: 0.5;
  }
  &--active {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -2px;
    display: block;
    width: 25px;
    height: 3px;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 0;
    background-color: $color-white;
    transform: rotate(45deg);
    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      display: block;
      width: 25px;
      height: 3px;
      border: none;
      outline: none;
      border-radius: 0;
      font-size: 0;
      background-color: $color-white;
      transform: rotate(90deg);
    }
  }
}
.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  .mobile-menu__list {
    display: none;
    &--active {
      margin: 0;
      padding: 0;
      text-align: center;
      list-style: none;
    }
  }
  .mobile-menu__item {
    background-color: $color-darkblue;
  }
  .mobile-menu__link {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    font: 700 18px/32px $font;
    color: $color-white;
    border-top: 1px solid #485461;
    border-bottom: 1px solid $color-black;
  }
}

@mixin block-title($font) {
  margin: 0;
  font: 300 24px/24px $font;
}

.page-header__title {
  @include block-title($font);
}

.downloads {
  padding: 30px 0;
  background-color: $header-color-darkblue;
  &__btn {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    padding: 15px 35px;
    max-width: 210px;
    text-decoration: none;
    font: 700 18px/18px $font;
    color: $color-white;
    border: 3px solid $color-white;
    border-radius: 37px;
    &:hover {
      opacity: 0.5;
    }
  }
  &__icons {
    margin-right: -36px;
    margin-bottom: 25px;
  }
  &__icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 36px;
  }
  &__information {
    font: 300 14px/24px $font;
  }
}






@media (max-width: $breakpoint-phone) {
  .page-header {
    background-image: url("../img/bg-header-phone.jpg");
    background-repeat: no-repeat;
    background-position: center -60px;
  }
  .page-header__content {
    background-image: url("../img/bg-header__content-phone.png");
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}