.prices {
	position: relative;
	padding: 65px 0 45px 0;
	background-color: $color-gray;
	@media (max-width: $breakpoint-phone) {
		&:before {
			content: "";
			position: absolute;
			top: -48px;
			left: 0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0px 48px 480px;
			border-color: transparent transparent $color-gray transparent;
		}
	}
	&__wrapper {
		margin-bottom: 40px;
		width: 100%;
		overflow: hidden;
	}
	&__table {
		margin-left: 20px;
		margin-right: 20px;
		width: calc(300% - 120px);
		border-collapse: collapse;
    border:2px solid #e5e5e5;
	}
	& th {
		padding: 17px 0;
		color: $color-white;
		background-color: $color-darkblue;
		border-collapse: collapse;
    border:2px solid #e5e5e5;
	}
	& td {
		position: relative;
		text-align: left;
		color: $color-darkblue;
		background-color: $color-white;
		border-collapse: collapse;
    border:2px solid #e5e5e5;
	}
	&__title {
		margin: 0;
		text-transform: uppercase;
		font: 700 18px/30px $font;
	}
	&__amount {
		margin: 0;
		text-transform: uppercase;
		font: 300 24px/30px $font;
	}
	&__feature {
		display: inline-block;
		vertical-align: bottom;
		margin: 0;
		padding: 15px 48px 15px 22px;
		text-transform: uppercase;
		font: 400 14px/30px $font;
	}
	&__checkbox {
		font-size: 0;
	}
	& .flag-hit {
		position: relative;
		&:before {
			content: "";
			position: absolute;
			top: -54px;
			left: -54px;
			width: 45px;
			height: 45px;
			border-style: solid;
			border-width: 30px;
			border-color: transparent $color-purple transparent transparent;
			transform: rotate(45deg);
		}
		&:after {
			content: "хит";
			position: absolute;
			top: 18px;
			left: 12px;
			text-transform: uppercase;
			font: 400 14px/14px $font;
			color: $color-white;
			transform: rotate(-45deg);
			z-index: 100;
		}
	}
	&__checkbox {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 30px;
		&--checked:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 10px;
			border-left: 2px solid $feature-checked-color-green;
			border-bottom: 2px solid $feature-checked-color-green;
			transform: rotate(-45deg);
		}
		&--unchecked:before {
			content: "";
			position: absolute;
			top: 10px;
			left: -5px;
			width: 30px;
			height: 2px;
			background-color: $feature-unchecked-color-red;
			transform: rotate(-45deg);
		}
		&--unchecked:after {
			content: "";
			position: absolute;
			top: 10px;
			left: -5px;
			width: 30px;
			height: 2px;
			background-color: $feature-unchecked-color-red;
			transform: rotate(45deg);
		}
	}
}

