.slider-controls {
	input[type="radio"] {
		display: none;
	}
}
.control-labels {
	margin-right: -13px;
}
.control-label {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
	width: 6px;
	height: 6px;
	background-color: $slider-controls-color-darkgray;
	border: 3px solid $color-white;
	border-radius: 50%;
}
input[type="radio"]:checked + label {
	background-color: transparent;
	border: 3px solid $color-darkblue;
}

.table-prices .control-label {
	border: 3px solid $color-gray;
}