$black: #000;
$white: #fff;
$purple: #d12755;
$gray: #f2f2f2;
$darkblue: #283645;
$darkblue--header: #1d2631; /*  цвет фона хедера и блока downloads  */
$darkgray: #b5b9be; /* неактивные контролы слайдера */
$green: #3dc643; /* заленые галочки в слайдере с ценами */
$red: #f25b26; /* красные крестики в слайдере с ценами  */
$lightgray: #e5e5e5; /* декоративные элементы на странице блога */
$btn--green: #2aab6d;

$font: OpenSans, Helvetica, Arial, sans-serif;

$breakpoint-phone: 480px;