/* фоновые картинки хедера */

@media (max-width: $breakpoint-phone) {
  .page-header {
    background-image: url("../img/bg-header-phone.jpg");
    background-repeat: no-repeat;
    background-position: center -60px;
    
    &__content {
      background-image: url("../img/bg-header__content-phone.png");
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }
}


/* фоновая картинка с улыбающимся смартфоном в блоке features на главной */
@media (max-width: $breakpoint-phone) {
  .features {
    background-image: url("../img/bg-features-phone.png");
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position: center bottom -45px;
  }
}