@media (min-width: $breakpoint-phone + 1) {

  /* в планшетной версии паддинг центровщика 40пх */
  .container {
    display: block;
    margin: 0 auto;
    padding: 0 40px;
  }

  /* кнопка мобильного меню перемещается на 20пх по сравнению с моб.версией */
  .menu-toggle {
    right: 40px;

    &--active {
      right: 40px;
    }
  }

  /* логотип в хедере главной*/
  .logo__link {
    position: relative;
    padding-left: 70px;

    /* белый логотип в обычном состоянии */
    &:before {
      content: url("../img/logo__image--white.png");
      position: absolute;
      bottom: -1px;
      left: 0;
    }

    /* розовый логотип по ховеру */
    &:hover {

      &:before {
        content: url("../img/logo__image.png");
      }
    }

    /* полупрозрачный белый логотип при нажатии */
    &:active {
      &:before {
        content: url("../img/logo__image--white.png");
      }
    }
  }

  /* фоны хедера */
  .page-header {
    max-height: 770px;
    background-image:
      url("../img/bg-header__content-tablet.png"),
      url("../img/bg-header-tablet.jpg");
    background-repeat: no-repeat;
    background-position: bottom right, center -140px;

    /* паддинги полоски меню */
    &__top-menu {
      padding: 39px 0px 34px;

      &--open {
        padding: 39px 0px 34px;
      }
    }

    /* заголовок в хедере */
    &__title {
      padding: 0 60px;
      font: 300 40px/44px $font;
    }

    /* контейнер сдвигает контент хедера влево */
    .container {
      padding-right: 50%;
    }

    /* убирается фиксированная высота контента */
    &__content {
      padding: 0;
      padding-top: 95px;
      height: auto;
    }
  }

  /* маргин заголовка на главной */
  .index-page {

    .page-header {

      &__title {
        margin-bottom: 30px;
      }
    }
  }

  /* блок "скачать приложение" */
  .downloads {
    padding: 0;
    padding-bottom: 110px;
    background-color: transparent;

    &__btn {
      margin-bottom: 40px;
    }

    &__icon {
      margin-bottom: 32px;
    }

    &__information {
      padding: 0;
      font: 300 18px/24px $font;
    }
  }

  /* блок information */
  .information {
    padding: 55px 0 35px 0;

    &__text {
      margin: 0;
      padding: 0;
      font: 300 40px/44px $font;

      &--2nd-line {
        padding: 0 140px;
      }
    }
  }

  /* блок features */
  .features {
    padding: 85px 0 1px 0;

    @media (max-width: $breakpoint-tablet) {

      background-image:
      url(../img/bg-features-phone--tablet.png),
      url("../img/bg-triangle--features.svg");
      background-repeat: no-repeat;
      background-size: 268px auto, 105%;
      background-position: left 40px top 5px, center -1px;
    }

    .container {
      padding-left: 50%;
      text-align: left;
    }
  }

  /* блок research */
  .research {
    position: relative;
    display: block;
    min-height: 360px;
    @media (max-width: $breakpoint-tablet) {
      background-image: url(../img/timer.svg);
      background-repeat: no-repeat;
      background-size: 262px;
      background-position: left 40px top 50px;

      &:before {
        content: "24";
        position: absolute;
        top: 114px;
        left: 64px;
        display: block;
        padding-top: 20px;
        width: 193px;
        height: 173px;
        font: 700 104.6px/162.87px $font;
        color: $purple;
        background-color: $white;
        border: 11px solid $purple;
        border-radius: 50%;
      }
    }

    /* паддинг сдвигает содержимое контейнера вправо */
    .container {
      padding-top: 95px;
      padding-bottom: 65px;
      padding-left: 50%;
      text-align: left;
    }

    &__title {
      margin: 0;
      margin-bottom: 10px;
      padding-right: 140px;
      font: 700 30px/36px $font;
    }

    &__content {
      margin: 0;
      margin-bottom: 8px;
      font: 400 14px/24px $font;
    }

    &__link {
      margin: 0;
      font: 400 14px/24px $font;
      color: $purple;

      &:hover {
        color: $darkblue;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  /* прячутся контролы прайса */
  .control-labels {
    display: none;
  }

  /* слайдер с отзывами */
  .reviews {
    background-image: url("../img/bg-gray-triangle.svg");
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center bottom;

    .slider-controls {
      padding-bottom: 70px;
    }

    .control-labels {
      display: block;
      bottom: 65px;
    }
  }
  /* переключение слайдов */

  #review-1:checked ~ .slide-1 {
    display: flex;
  }
  #review-2:checked ~ .slide-2 {
    display: flex;
  }
  #review-3:checked ~ .slide-3 {
    display: flex;
  }

  /* в слайде отзыва меняется порядок абзцев */
  .review {
    flex-direction: column;

    &__author {
      order: 2;
      margin: 0;
      margin-bottom: 2px;
      font: 700 20px/30px $font;
    }

    &__subtitle {
      order: 3;
      margin: 0;
      margin-bottom: 40px;
      font: 400 14px/30px $font;
    }

    &__text {
      order: 1;
      margin-bottom: 35px;
      font: 400 18px/30px $font;
    }
  }

  /* таблица с ценами */
  .prices {
    padding-top: 35px;
    padding-bottom: 70px;

    /* обертка таблицы */
    &__wrapper {
      box-sizing: border-box;
      display: block;
      margin: 0 auto;
      padding: 0 40px;
    }

    /* таблица */
    &__table {
      margin: 0;
      width: 100%;
    }

    /* скрываются подписи в ячейках */
    &__feature {
      display: none;
    }

    /* новый отдельный столбец с features */
    &__feature-cell {
      display: block;
      padding: 9px 15px 8px 15px;
      font: 400 14px/30px $font;
    }

    /* выравнивание ширины столбцов */
    th {
      width: 25%;

      /* прозрачная первая ячейка */
      &.prices__first-col-tablet {
        background-color: transparent;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
      }
    }

    &__title {
      font: 700 16px/30px $font;
    }

    &__amount {
      font: 300 18px/30px $font;
    }

    &__checkbox {
      left: 50%;
      margin-left: -15px;
    }
  }

  /* внутренняя обертка ячейки с флажком */
  .flag-hit__inner-wrapper {

    /* флажок в заголовке таблицы */
    &:before {
      content: "";
      position: absolute;
      top: -61.5px;
      left: -44.5px;
      width: 29px;
      height: 29px;
      border-style: solid;
      border-width: 30px;
      border-color: transparent $purple transparent transparent;
      transform: rotate(45deg);
    }

    /* текст на флажке */
    &:after {
      content: "хит";
      position: absolute;
      top: 3px;
      left: 11px;
      text-transform: uppercase;
      font: 400 12px/14px $font;
      color: $white;
      transform: rotate(-45deg);
      z-index: 100;
    }
  }

  /* переключение слайдов */
  #price-table-1:checked ~ .prices__wrapper .prices__table {
    transform: translate(0);
  }
  #price-table-2:checked ~ .prices__wrapper .prices__table {
    transform: translate(0);
  }
  #price-table-3:checked ~ .prices__wrapper .prices__table {
    transform: translate(0);
  }

  .footer-contacts {

    .container {
      padding-bottom: 0;
    }

    .map-wrapper {
      height: 380px;

      /* двойной фон - карта и белый треугольник */
      background-image:
        url("../img/triangle-white-footer.svg"),
        url("../img/bg-map--tablet.jpg");
      background-repeat:
        no-repeat,
        no-repeat;
      background-position:
        top center,
        center bottom 30%;
      background-size:
        100% auto,
        100% auto;
      overflow: hidden;

      /* маркер карты */
      /*&:after {
        content: "";
        position: absolute;
        bottom: 145px;
        left: 50%;
        margin-top: -18px;
        margin-left: -18px;
        width: 16px;
        height: 16px;
        background-color: $purple;
        border: 10px solid $white;
        border-radius: 50%;
      }*/
    }

    &__title {
      font: 300 40px/44px $font;

      &--2 {
        margin-bottom: 40px;
      }
    }

    &__wrapper--halfwidth {
      display: inline-block;
      vertical-align: top;
      width: 45%;
    }

    &__information {
      margin-bottom: 46px;

      &--last-line {
        margin-bottom: 15px;
      }
    }
  }

  .page-footer {
    padding-bottom: 0;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 35px;
      padding-bottom: 35px;
    }
  }

  .logo {
    width: 29.5%;
    text-align: left;

    &__text {
      padding: 0;
    }

    &--footer {
      margin-bottom: 0;
    }
  }

  .social-btns {
    display: flex;
    justify-content: center;
    margin-right: -13px;
    margin-bottom: 0;
    width: 29.5%;

    .social-btn {
      margin-right: 13px;
    }
  }

  .copyright {
    width: 29.5%;
    text-align: right;

    &__text {
      margin: 0;
      margin-right: 15px;
    }
  }

  /* размер и паддинги заголовка хедера на внутренних страницах */
  .pink-blog {

    .page-header {
      background-image: url("../img/bg-header-tablet.jpg");
      background-repeat: no-repeat;
      background-position: center -140px;

      &__title {
        padding: 75px 40px;
        font: 300 50px/54px $font;
      }
    }
  }

  .pink-post {

    .page-header {
      background-image: url("../img/bg-header-tablet.jpg");
      background-repeat: no-repeat;
      background-position: center -140px;

      &__text {
        padding: 75px 40px;
        font: 300 50px/54px $font;
      }
    }
  }

  .pink-form {

    .page-header {
      background-image: url("../img/bg-header-tablet.jpg");
      background-repeat: no-repeat;
      background-position: center -140px;

      &__title {
        padding: 75px 40px;
        font: 300 50px/54px $font;
      }
    }
  }

  //////////////// blog.html ///////////////////

  /* изменение верхнего паддинга контейнера записей */
  .page-content {
    padding-top: 95px;

    &__container {
      display: block;
      margin: 0 auto;
      padding: 0 100px;
    }
  }

  .blog-entry {
    padding-bottom: 45px;

    &__title {
      margin-bottom: 5px;
      font: 700 27px/30px $font;
    }

    &__date {
      margin-bottom: 25px;
      font: 300 14px/30px $font;
    }

    &__review {
      padding-bottom: 45px;
      font: 400 18px/30px $font;
      border-bottom: 2px dotted $gray;

      &--last-review {
        padding-bottom: 15px;
        border-bottom: none;
      }
    }
  }

  /* блок пагинации на странице блога */
  .pagination {
    display: block;

    &__page-item {
      margin-right: 11px;
    }
  }

  /* иконка в заголовках записей на странице блога */
  .pink-blog {

    .blog-entry {

      &__title {
        position: relative;

        &:before {
          content: url("../img/link-icon.png");
          position: absolute;
          left: -60px;
          top: 2px;
        }
      }
    }
  }


  //////////////// post.html ///////////////////
  /* стили записи на странице поста */
  .pink-post {

    .page-content {
      padding-top: 85px;
    }

    .blog-entry {
      padding-bottom: 20px;

      &__inner-wrapper {
        display: flex;
        flex-direction: column;
      }

      &__title {
        margin-bottom: 30px;
        padding: 0 100px;
        font: 700 50px/54px $font;
      }

      &__date {
        position: relative;
        bottom: 35px;
        left: 50%;
        margin-bottom: 0;
        margin-left: -150px;
        width: 300px;
        font: 300 14px/30px $font;
        background-color: $white;
        order: 3;
      }

      &__review {
        margin-bottom: 20px;
        padding-bottom: 45px;
        font: 400 24px/40px $font;
      }

      &__content {

        h2 {
          margin: 0;
          margin-bottom: 20px;
          font: 700 24px/30px $font;
        }

        p {
          margin: 0;
          margin-bottom: 25px;
          font: 400 18px/30px $font;

          &.last-of-block {
            margin-bottom: 50px;
          }
        }

        ul {
          padding-bottom: 25px;
        }

        li {
          margin: 0;
          margin-bottom: 25px;
          padding: 0;
          padding-left: 35px;
          font: 400 18px/30px $font;
        }

        blockquote {
          margin: 0;
          margin-bottom: 50px;
          padding-left: 35px;
          font: 400 18px/30px $font;
        }
      }
    }

    .page-navigation {
      margin-bottom: 0;

      &__wrapper {
        flex-wrap: nowrap;
      }
    }

    .navigation-btn {

      &--next {
        margin-left: 20px;
        order: 3;
      }

      &--prev {
        margin-right: 20px;
      }
    }
  }

  //////////////// form.html ///////////////////
  .page-form {


    &__footnote {

      span.hidden-text {
        display: none;
      }
    }

    &__block {

      /* контейнер с серым бордером */
      .container {
        position: relative;
        margin: 0 40px;
        padding: 0 58px;
        border: 2px solid $gray;
        border-radius: 3px;
      }

      /* у блоков без бордера контейнер шире */
      &--no-border {
        padding-bottom: 0;

        .container {
          margin: 0;
          margin-bottom: 12px;
          padding: 0 40px;
          border: none;
        }
      }

      /* распределение элементов в блоке дат */
      &--dates {
        position: relative;

        .container {
          display: flex;
          padding-top: 45px;
          padding-bottom: 20px;
          flex-wrap: wrap;
          justify-content: space-between;
        }
      }

      /* все блоки на странице имеют белый фон */
      &--bg-gray {
        background-color: $white;
      }

      /* верхний паддинг контейнера в блоке попутчиков */
      &--companions {

        .container {
          padding-top: 40px;
        }
      }

      /* расположение элементов в блоке "отправить форму" */
      &--submit {
        padding-top: 65px;

        .container {
          display: flex;
          justify-content: space-between;
        }
      }

      /* заголовок этого блока позиционируется абсолютно */
      &--upload {
        position: relative;

        .container {
          padding-top: 42px;
        }
      }
    }

    /* заголовок формы и верхнего блока */
    &__block-description {
      font: 400 18px/30px $font;

      /* второй параграф заголовка */
      &--2-line {
        margin-bottom: 35px;
      }

      /* первый параграф заголовка */
      &--1-line {
        margin-bottom: 0;
        padding: 0 60px;
      }
    }

    /* лейблы для текстовых инпутов сдвинуты влево с отступом */
    &__text-input-label {
      padding-left: 22px;
      text-align: left;
    }

    /* заголовки блоков в планшетной версии наезжают на бордер блока через pos: r */
    &__block-title {
      position: relative;
      bottom: 9px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 30px;
      background-color: $white;

      /* заголовок блока длительности путешествия вынесен из контейнера, чтоб не вмешиваться в поток флекс-элементов */
      &--absolute {
        position: absolute;
        top: 41px;
        left: 45%;
        margin: 0;
        margin-left: -130px;
        width: 260px;
        height: 18px;
        z-index: 100;
      }

      /* заголовок блока попутчиков ведет себя нестандартно, т.к. является лейблом текстового инпута */
      &.page-form__text-input-title {
        position: absolute;
        top: -9px;
        left: 45%;
        margin-left: -130px;
        width: 260px;
        height: 18px;
      }


      /* абсолютно позиционированный заголовок блока "загрузить файлы" */
      &--upload {
        position: absolute;
        top: 30px;
        left: 45%;
        margin-left: -150px;
        margin-bottom: 0;
        width: 300px;
        height: 18px;
        z-index: 100;
      }
    }

    /* обертка для инпута и его лейбла, потомок флексконтейнера */
    &__label-input-wrapper {
      width: 46%;

      /* нижний маргин у инпута с кнопками в блоке попутчиков */
      &--companions {
        margin-bottom: 70px;
      }
    }

    &__table-wrapper {

      &--companion-1 {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: -30px;
          left: 0;
          right: 0;
          width: 100%;
          height: 2px;
          background-color: $gray;
        }
      }

      &--desktop {
        display: none;
      }
    }

    /* отступ средней ячейки в таблице попутчиков */
    input[name="input-companion"] {
      margin-left: 20px;
      border-radius: 3px;
    }

    /* отступ средней ячейки в таблице попутчиков */
    input[name="nickname"] {
      margin-left: 20px;
    }

    &__companion {
      border: 2px solid $gray;
      border-radius: 3px;
    }

    &__fileform {
      margin-bottom: 110px;

      &:after {
        top: 105px;
      }
    }
  }

  /* кнопка отправить форму имеет половинную ширину */
  .submit-form-btn {
    width: 50%;
  }

  /* отрицательный маргин обертки галереи */
  .images {
    margin-right: -70px;
  }

  /* маргин у картинок */
  .image {
    margin-right: 70px;

    /* размер картинок в планшетной версии больше */
    img {
      width: 120px;
      height: 120px;
    }
  }

  /* кнопка удалить картинку */
  .delete-btn {
    top: -27px;
    right: -27px;
    width: 51px;
    height: 51px;

    &:before {
      top: 22px;
      left: 11px;
      width: 24px;
      height: 2px;
    }

    &:after {
      top: 22px;
      left: 11px;
      width: 24px;
      height: 2px;
    }

    &:hover {

      &:before {
        top: 22px;
        left: 11px;
        width: 24px;
        height: 2px;
      }

      &:after {
        top: 22px;
        left: 11px;
        width: 24px;
        height: 2px;
      }
    }

    &:active {

      &:before {
        top: 22px;
        left: 11px;
        width: 24px;
        height: 2px;
      }

      &:after {
        top: 22px;
        left: 11px;
        width: 24px;
        height: 2px;
      }
    }
  }
}



