.copyright {

	&__text {
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		font: 400 14px/18px $font;
	}

	&__link {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 27px;
		height: 34px;
		font-size: 0;

		&:after {
			content: url("../img/htmlacademy-logo.png");
			position: absolute;
			top: 0;
			left: 0;
			display: inline-block;
		}

		&:hover {

			&:after {
				content: url("../img/htmlacademy-logo--hvr.png");
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&:active {
			opacity: 0.3;
		}
	}
}