/* футер с картой на главной */
.footer-contacts {
	position: relative;
	padding-top: 45px;

	.container {
		padding-bottom: 15px;
	}
	
	&__title {
		@include block-title($font);
		color: $darkblue;

		&--1 {
			margin: 0;
		}

		&--2 {
			margin-bottom: 32px;
		}
	}

	&__paragraph {
		margin: 0;
		margin-bottom: 5px;
		font: 700 18px/22px $font;
		color: $darkblue;
		letter-spacing: 0.5px;
	}
	&__information {
		margin: 0;
		margin-bottom: 20px;
		font: 300 24px/28px $font;
		color: $purple;
	}

	/* блок карты */
	.map-wrapper {
		position: relative;
		width: 100%;
	}

  &__map-wrapper {
    position: relative;
  }

  &__img {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    min-width: 100%;
    z-index: 1000;
  }
}