/* обертка инпута с кнопками */
.page-form {

	&__input-table {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 16px;
    flex-wrap: nowrap;

    /* нулевой нижний маргин у инпутов с боковыми кнопками и бордер */
		input[name="input-number"] {
			flex-shrink: 2;
			margin-bottom: 0;
			padding: 17px 20px 13px 20px;
			border-top: 2px solid $gray;
			border-bottom: 2px solid $gray;
			border-left: none;
			border-right: none;
			border-radius: 0;

			&:hover {
				border-top: 2px solid $darkblue;
				border-bottom: 2px solid $darkblue;
				border-left: none;
				border-right: none;
			} 

			&:focus {
				border-top: 2px solid $purple;
				border-bottom: 2px solid $purple;
				border-left: none;
				border-right: none;
			} 
		}
	}
}
