/* логотип в хедере */
.logo {
  float: left;
  text-transform: uppercase;
  font: 300 32px/36px $font;
  letter-spacing: 1.4px;

  &__link {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $purple;
    }

    &:active {
      color: $white;
      opacity: 0.3;
    }
  }

	/* лого в футере */
  &__text {
  	display: inline-block;
  	vertical-align: top;
  	margin: 0;
  	padding-top: 12px;
  }

  /* лого-ссылка в футере */
  &__link {
    &--footer {
      text-decoration: none;
      color: $darkblue;

      &:hover {
        color: $purple;
      }

      &:active {
        color: $darkblue;
        opacity: 0.3;
      }
    }
  }

	/* лого-картинка в футере */
  &__image {
  	margin-right: 13px;
  }

	/* в хедере у лого ограничена ширина, в футере блок занимает 100% */
  &--footer {
  	width: 100%;
  	margin-bottom: 35px;
  	text-align: center;
  }
}

