/* блок навигации по записям в блоге */
.page-navigation {
	margin-bottom: 40px;
	text-align: center;

	/* резиновая обертка для кнопок половинной ширины */
	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	/* общие стили кнопок навигации */
	.navigation-btn {
		display: block;
		margin: 0;
		margin-bottom: 20px;
		padding: 16px 0 13px 0;
		text-transform: uppercase;
		text-decoration: none;
		font: 700 18px/30px $font;
		color: $darkblue;
		border: 2px solid $lightgray;
		border-radius: 3px;

		&:hover {
			color: $purple;
			border: 2px solid $darkgray;
		}
	}

	/* кнопки половинной ширины */
	.navigation-btn--half-width {
		width: 44.64%;
	}
}